/*
  Reset css by https://www.joshwcomeau.com/css/custom-css-reset/ 
*/

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering

  And also import and set our own fonts
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'FixelDisplay';
  src: url('../6-shared/assets/fonts/fixel/FixelDisplay-Regular.woff2') format('woff2'),
       url('../6-shared/assets/fonts/fixel/FixelDisplay-Black.woff2') format('woff2'),
       url('../6-shared/assets/fonts/fixel/FixelDisplay-Bold.woff2') format('woff2'),
       url('../6-shared/assets/fonts/fixel/FixelDisplay-ExtraBold.woff2') format('woff2'),
       url('../6-shared/assets/fonts/fixel/FixelDisplay-ExtraLight.woff2') format('woff2'),
       url('../6-shared/assets/fonts/fixel/FixelDisplay-Light.woff2') format('woff2'),
       url('../6-shared/assets/fonts/fixel/FixelDisplay-Medium.woff2') format('woff2'),
       url('../6-shared/assets/fonts/fixel/FixelDisplay-SemiBold.woff2') format('woff2'),
       url('../6-shared/assets/fonts/fixel/FixelDisplay-Thin.woff2') format('woff');
}

@font-face {
  font-family: 'FixelText';
  src: url('../6-shared/assets/fonts/fixel/FixelText-Regular.woff2') format('woff2'),
       url('../6-shared/assets/fonts/fixel/FixelText-Black.woff2') format('woff2'),
       url('../6-shared/assets/fonts/fixel/FixelText-Bold.woff2') format('woff2'),
       url('../6-shared/assets/fonts/fixel/FixelText-ExtraBold.woff2') format('woff2'),
       url('../6-shared/assets/fonts/fixel/FixelText-ExtraLight.woff2') format('woff2'),
       url('../6-shared/assets/fonts/fixel/FixelText-Light.woff2') format('woff2'),
       url('../6-shared/assets/fonts/fixel/FixelText-Medium.woff2') format('woff2'),
       url('../6-shared/assets/fonts/fixel/FixelText-SemiBold.woff2') format('woff2'),
       url('../6-shared/assets/fonts/fixel/FixelText-Thin.woff2') format('woff');
}

body, html { 
  font-family: 'FixelText', sans-serif;
}
/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}
